main.about {
  @media screen and (min-width: 600px) {
    section {
      display: flex;
      flex-direction: row;

      picture.about-hero {
        flex-grow: 1;
        max-width: 400px;
      }

      & > * {
        padding: 2rem;
      }
    }
  }
}

picture.about-hero {
  margin: 1rem auto;

  @media screen and (max-width: 599px) {
    width: 250px;
  }
}