.contact-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @media screen and (min-width: 600px) {
    & > div {
      padding: 2rem;
    }
  }

  .contact-hero {
    max-width: 250px;
    width: 100%;
    margin: 1rem auto;
    padding: 0 0 0 1rem;
    
    @media screen and (min-width: 600px) {
      padding: 2rem;
      width: 500px;
      max-width: 50%;
      margin: 1rem 0;
    }

    picture {
      width: 100%;
    }
  }

  ul {

    li {
      &::marker {
        display: flex;
      }

      a {
        position: relative;
        bottom: 0.125rem;

        img {
          width: 1rem;
          height: 1rem;
          display: inline;
        }
      }
    }
  }
}