

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($properties, $min-vw, $max-vw, $min-value, $max-value) {
  @each $property in $properties {
    #{$property}: $min-value;
  }

  @media screen and (min-width: $min-vw) {
    @each $property in $properties {
      #{$property}: calc(#{$min-value} + #{strip-unit($max-value - $min-value)} * (100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)});
    }
  }

  @media screen and (min-width: $max-vw) {
    @each $property in $properties {
      #{$property}: $max-value;
    }
  }
}

section.home-wrapper {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 3rem - env(safe-area-inset-top));

  footer {
    text-align: center;
  }

  div.title {
    text-align: center;
    font-size: calc(0.75rem + 1.5vw);
  }
  
  div.title > h1 {
    font-weight: 400;
    padding: 0.5rem 0 0;
    text-transform: lowercase;
  }
  
  nav.links {
    position: relative;
    flex-grow: 1;
    display: flex;
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: 20% 30% 30% 20%;
      grid-template-rows: 20% 30% 30% 20%;
      // grid-template-areas:
      //   "about    about     livesound   livesound"
      //   "about    profile   profile     livesound"
      //   "contact  profile   profile     music"
      //   "contact  contact   music       music";
      width: 100%;
  
      li {
        padding: 0.5rem;
  
        a {
          display: block;
          width: 100%;
          height: 100%;
          @include fluid-type(font-size, 600px, 1200px, 24px, 56px);
  
          & span {
            text-decoration: underline;
          }
        }
  
        &.about {
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 1;
          grid-column-end: 3;
          border-top: 1px solid #fff;
          border-right: 0.5px solid #fff;
          border-bottom: 0.5px solid #fff;
  
          &:hover {
            background-color: #ffff75;
          }
  
          a {
            color: #ffff75;
          }
        }
  
        &.contact {
          grid-row-start: 3;
          grid-row-end: 5;
          grid-column-start: 1;
          grid-column-end: 3;
          border-top: 0.5px solid #fff;
          border-right: 0.5px solid #fff;
          border-bottom: 1px solid #fff;
  
          &:hover {
            background-color: orange;
          }
  
          a {
            color: orange;
          }
        }
  
        &.live-sound {
          grid-row-start: 1;
          grid-row-end: 3;
          grid-column-start: 3;
          grid-column-end: 5;
          border-top: 1px solid #fff;
          border-left: 0.5px solid #fff;
          border-bottom: 0.5px solid #fff;
  
          &:hover {
            background-color: #75a56b;
          }
  
          a {
            color: #75a56b;
          }
        }
  
        &.music {
          grid-row-start: 3;
          grid-row-end: 5;
          grid-column-start: 3;
          grid-column-end: 5;
          border-top: 0.5px solid #fff;
          border-left: 0.5px solid #fff;
          border-bottom: 1px solid #fff;
  
          &:hover {
            background-color: #fa9292;
          }
  
          a {
            color: #fa9292;
  
            span {
              right: 0;
            }
          }
        }
  
        &.live-sound,
        &.music {
          text-align: right;
        }
  
        &.contact a,
        &.music a {
          position: relative;
        }
        
        &.contact a span,
        &.music a span {
          position: absolute;
          bottom: 0;
        }
  
        &:hover > a {
          color: #000;
        }
  
        &.profile-wrapper {
          pointer-events: none;
  
          grid-row-start: 2;
          grid-row-end: 4;
          grid-column-start: 2;
          grid-column-end: 4;
  
          display: flex;
          justify-content: center;
          align-items: center;
          
          picture {
            z-index: 1;
            shape-outside: padding-box;
            max-width: 45vh;
            max-height: 75vh;
          }
        }
      }
    }
  }
}