@font-face{
  font-family: "Avenir Roman";
  src:local("AvenirLTStd-Roman"),
  url('./assets/fonts/avenir/AvenirLTStd-Roman.otf') 
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Avenir Roman", sans-serif;
}

body,
#app {
  background-color: #000;
  color: #fff;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app {
  &> nav {
    background-color: #000;
    display: flex;
    align-items: center;
    padding: 0.5rem 0 0;
    margin: env(safe-area-inset-top) 1rem env(safe-area-inset-bottom);
  }

  &> main {
    margin: 1rem 1rem 0;

    h1 {
      margin: 0;
      padding-top: 0.5rem;
      text-align: center;
      border: 1px solid white;
    }

    &> h1 {
      margin-top: -0.5rem;
    }
  }

  &> footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    overflow: hidden;
    margin: 0 1rem;

    p {
      margin: 0.1rem 0 0;
    }
  }
}

details {
  margin: 1rem 0;

  summary {
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 0 0.5rem;
  }

  &[open] > summary::marker {
    color: #ffff75;
  }

  span > picture {
    float: right;
    margin: 1rem 0 1rem 1rem;
    max-width: 50%;
    width: 300px;
  }
}